<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
    <title>Drowsiness Detection</title>
</head>
<body>
    <div class="main-container">
        <div class="header">
            <h1>DROWSINESS DETECTOR</h1>
        </div>
        <div class="button-container">
            <form action="/start" method="POST">
                <button type="submit">START</button>
            </form>
            <form action="/stop" method="POST">
                <button type="submit">STOP</button>
            </form>
        </div>
    </div>
</body>
</html>
